<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <button type="submit">Search</button>
        <input type="search" placeholder="검색" name="keyword" value="{{keyword}}">    
    </form>
    <br>
    {% for post in posts %}
        {{post.author}}<br>
        {{post.image}}<br>
        {{post.title}}<br>
        {{post.content}}<br>
        <hr>
    {% endfor %}
</body>
</html>