<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Board list</title>
</head>
<body>
    <div style = "background-color: rgb(73, 73, 73);">
        <h1 style = "color : white">게시판 글 목록</h1>
        
        <a href="/boards/create/" style="position:relative; top: 50px; left: 900px; color: #ffffff;
        background: #3379FE; padding: 0.3em 0.5em; margin-right: 0.1em; text-decoration:none">글 작성하러 가기</a>
        
        <!-- 검색창 -->
        <form action="" method="POST">
            {% csrf_token %}
            <input type="search" placeholder="Search" name="keyWord" value="{{keyWord}}">
            <button type="submit">Search</button>
        </form>

    </div>

    <div style = "height: 25px;">
        <ul>
            <li style = "list-style: none; float: left; margin-left: 20px;">번호</li>
            <li style = "list-style: none; float: left; margin-left: 50px;">제목</li><br>
        </ul>
        <ul>
            <li style = "list-style: none; position: relative; top: -50px; left: 1000px"><a href="{% url 'accounts:login' %}" style = "text-decoration:none; font-size: 0.8rem">로그인</a></li>
            <li style = "list-style: none; position: relative; top: -50px; left: 1000px"><a href="{% url 'accounts:logout' %}" style = "text-decoration:none; font-size: 0.8rem">로그아웃</a></li>
        </ul>
    </div>

    <div>
        <hr>
        {% for board in boards %}
            <div style = "height: 40px;">
                <li style = "list-style: none; float: left; margin-left: 70px;">
                    {{ board.id }}
                </li>
                <li style = "list-style: none; float: left; margin-left: 60px;">
                    <a href = "/boards/{{board.pk}}/">{{ board.title }}</a>
                </li>
            </div>
            <div style = "position: relative; top: -45px; left: 900px;">
                <small><a href="{% url 'Boards:update' board.id %}" style = "text-decoration:none">글 수정하기</a></small><br>
                <small><a href="{% url 'Boards:delete' board.id %}" style = "text-decoration:none">글 삭제하기</a></small>
            </div>
        {% endfor %}
    </div>
</body>
</html>
<style>

</style>