<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글 작성하기</title>
</head>
<body>
    <h1>글</h1>
    <small?><a href="/boards/"><button>글 목록으로 돌아가기</button></a></small><br>
    <br>
    <br>
        
        <small>{{ board.author }}님의 글</small><br><br>
        제목: {{ board.title }}<br>
        내용: {{ board.content }}<br>


    <h3>Comments</h3> 

    <a href = "{% url 'Boards:comment' pk=board.pk %}" board.pk>댓글 쓰기</a><br>
    
    <ul>
        
        {% for comment in comments %}
             
            <li>
                <h4>by {{ comment.author }}</h4>
                {{ comment.message }}
                <a href="{% url 'Boards:update_comment' board.pk comment.pk %}">댓글 수정</a>
                <a href="{% url 'Boards:delete_comment' board.pk comment.pk %}">댓글 삭제</a>
            </li>
        {% endfor %}
    </ul>
        
</body>
</html>